.product-container-helmet {
  display: flex;
  max-width: 960px;
  padding: var(--spacing-7, 64px) var(--spacing-3, 16px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 48px var(--spacing-6, 48px);
  flex-wrap: wrap;
  background: linear-gradient(
      0deg,
      rgba(246, 248, 249, 0.72) 0%,
      rgba(246, 248, 249, 0.72) 100%
    ),
    url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.helmet {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
}

.helmet-content {
  display: flex;
  min-width: 260px;
  max-width: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-5, 32px);
  flex: 1 0 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--spacing-0, 4px);
  align-self: stretch;
}

/* styling for newsletter  */

.newsletter-frame {
  display: flex;
  padding: 3rem 1rem 4rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  background: #fd7e2f;
  /* max-width: 439px; */
}

.newsletter-container {
  display: flex;
  max-width: 31.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.newsletter-container p {
  align-self: stretch;
  color: #fff6ed;
  font-family: "IBM Plex Sans";
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.71875rem; /*150%; */
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.newsletter-container input[type="email"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  color: #4e6d7b;
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.59375rem */
  border-radius: 0.25rem;
  border: 1px solid #4e6d7b;
  background: #f6f8f9;
}

.newsletter-container button {
  border: none;
  box-shadow: none;
  appearance: none;
  display: flex;
  height: 2.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #384b54;
  color: #f6f8f9;
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.0625rem */
}

.newsletter-container button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: #1f2a2f;
}
