/* styling for newsletter  */

.newsletter-frame {
  display: flex;
  padding: 3rem 1rem 4rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  background: #fd7e2f;
  /* max-width: 439px; */
}

.newsletter-container {
  padding: 1.5rem;
  display: flex;
  /* max-width: 31.25rem; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  background: #ffb172;
}

.newsletter-container {
  color: #212a30;
  font-family: "IBM Plex Sans";
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.71875rem */
  align-self: stretch;
  max-width: 500px;
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  /* Typography */
  color: var(--colors-neutral-600, #4e6d7b);
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: 150%; /* 1.59375rem */
  /* Input-field */
  display: flex;
  height: 2.5rem;
  min-width: 10rem;
  padding: var(--spacing-1, 0.5rem);
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid #4e6d7b;
  background: #f6f8f9;
}

/* .newsletter-container input[type="email"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
  color: #4e6d7b;
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  border-radius: 0.25rem;
  border: 1px solid #4e6d7b;
  background: #f6f8f9;
} */

.newsletter-container button {
  border: none;
  box-shadow: none;
  appearance: none;
  display: flex;
  height: 2.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #384b54;
  color: #f6f8f9;
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.0625rem */
}

.newsletter-container button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: #1f2a2f;
}

@media (min-width: 440px) {
  .newsletter-container {
    /* max-width: 31.25rem; */
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .newsletter-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .newsletter-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    align-self: stretch;
  }
}
