.sustainability-section {
  display: flex;
  /* width: 21.875rem; */
  padding: 4rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f8f9;
}

.sustainability-container {
  display: flex;
  max-width: 80rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.sustainability-container h2 {
  color: #324148;
  font-family: "IBM Plex Sans";
  font-size: 2.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  align-self: stretch;
}

.cards-container {
  display: flex;
  min-width: 16.25rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}

/* Den här får bara allt att se sämre ut. Behövs kollas upp varför! */

/* .sustainability-card {
  display: flex; */
/* width: 21.875rem;
  padding: 4rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
} */

.sustainability-background-image1 {
  height: 25rem;
  min-width: 16.25rem;
  min-height: 18.75rem;
  max-height: 25rem;
  max-width: 573px;
  flex: 1 0 0;
  background: url(/images/Sustainability-section1.png) lightgray 50% / cover
    no-repeat;
}

.sustainability-background-image2 {
  height: 25rem;
  min-width: 16.25rem;
  min-height: 18.75rem;
  max-height: 25rem;
  flex: 1 0 0;
  background: url(/images/Sustainability-section2.png) lightgray 50% / cover
    no-repeat;
}

.sustainability-background-image3 {
  height: 25rem;
  min-width: 16.25rem;
  min-height: 18.75rem;
  max-height: 25rem;
  max-width: 573px;
  flex: 1 0 0;
  background: url(/images/Sustainability-section3.png) lightgray 50% / cover
    no-repeat;
}

.button-text-container {
  display: flex;
  min-width: 17.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 1 0 0;
}

.button-text-container p {
  color: #324148;
  font-family: "IBM Plex Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.25rem */
  align-self: stretch;
}

.button-text-container button {
  color: #384b54;
  font-family: "IBM Plex Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.25rem */
  border: none;

  display: flex;
  height: 3rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #e8edf0;
}

/* @media (min-width: 960px) {
  .sustainability-section {
    padding: 6rem 1rem;
  }

  .sustainability-container {
    font-size: 3.75rem;
    font-style: normal;
    display: flex;
  }

  .cards-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }

  .sustainability-card {
    display: flex;
    min-width: 16.25rem;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem 1rem;
    flex: 1 0 0;
    flex-wrap: wrap;
  }

  .sustainability-background-image1 {
    min-width: 16.25rem;
    min-height: 18.75rem;
    max-height: 25rem;
    flex: 1 0 0;
    background: url(/images/sustainabilitywide1.png) lightgray 50% / cover
      no-repeat;
  }

  .sustainability-background-image2 {
    min-width: 16.25rem;
    min-height: 18.75rem;
    max-height: 25rem;
    flex: 1 0 0;
    background: url(/images/sustainabilitywide2.png) lightgray 50% / cover
      no-repeat;
  }

  .sustainability-background-image3 {
    min-width: 16.25rem;
    min-height: 18.75rem;
    max-height: 25rem;
    flex: 1 0 0;
    background: url(/images/sustainabilitywide3.png) lightgray 50% / cover
      no-repeat;
  }
} */

@media (min-width: 960px) {
  .sustainability-section {
    padding: 6rem 1rem;
    flex-direction: row;
  }

  .sustainability-container {
    display: flex;
    max-width: 80rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
  }

  .cards-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: stretch;
  }

  .sustainability-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    gap: 1rem;
  }

  .sustainability-background-image1,
  .sustainability-background-image2,
  .sustainability-background-image3 {
    width: 100%;
    height: auto;
    /* max-height: 25rem; */
    background-size: cover;
  }

  .button-text-container {
    display: flex;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button-text-container p {
    margin: 0;
  }

  .button-text-container button {
    margin-top: auto; /* Flyttar knappen längst ner */
  }
}
