.top-features {
  display: flex;
  width: 21.875rem;
  padding: 3rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url(/images/snowy-background.png) lightgray 50% / cover no-repeat,
    #baeefd;
}

.top-features-container {
  display: flex;
  max-width: 60rem;
  padding: 0rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.top-features-container h2 {
  color: #212a30;
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-4, 1.8125rem);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 150%; /* 2.71875rem */
}
